<div fxLayout="column">
    <!-- FILTER -->
    <div fxLayout="row" fxLayoutAlign="space-between center" class="filter" 
        fxLayout.lt-lg="column-reverse" fxLayoutAlign.lt-lg="start start">
        <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field class="filter-all">
                <input matInput (keyup)="onFilter($event)" placeholder="Quick filter" #input>
            </mat-form-field>
            <mat-form-field class="filter-city">
                <mat-select placeholder="Filter by city" (valueChange)="onFilter($event)">
                    <mat-option *ngFor="let city of citiesList" [value]="city">{{city}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="filter-province">
                <mat-select placeholder="Filter by province" (valueChange)="onFilter($event)">
                    <mat-option *ngFor="let province of provincesList" [value]="province">{{province}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <button mat-flat-button color="accent" (click)="onCreate()">
            NEW
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <!-- RESULTS -->
    <table mat-table [dataSource]="dataSource" matSort fxFlex>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Institution</th>
            <td mat-cell *matCellDef="let data">{{ data.name }}</td>
        </ng-container>

        <!-- City Column -->
        <ng-container matColumnDef="city">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>City</th>
            <td mat-cell *matCellDef="let data">{{ data.city }}</td>
        </ng-container>

        <!-- Province Column -->
        <ng-container matColumnDef="province">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Province/Territory</th>
            <td mat-cell *matCellDef="let data">{{ data.province }}</td>
        </ng-container>

         <!-- Edit Column -->
         <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let data">
                <div [fxShow]="selectedRow?.name == data.name">
                    <button mat-icon-button color="primary" (click)="onEdit(data)"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button (click)="onDelete(data.id)"><mat-icon>delete</mat-icon></button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr
            mat-row
            *matRowDef="let data; columns: displayedColumns"
            [class.selected]="selectedRow?.name == data.name"
            (click)="onSelect(data)"
        ></tr>

        <!-- Row shown when there is no matching data. -->
        
        <tr class="mat-row no-data" *matNoDataRow>
            <ng-container *ngIf="!dataSource.data.length; else noResultTpl">
                <td class="mat-cell" colspan="4">No data available <button mat-flat-button (click)="onReload()" color="primary">Retry</button></td>
            </ng-container>
            <ng-template #noResultTpl>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </ng-template>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of Institutions"></mat-paginator>
</div>