$my-green: (
  50: #ebf3e7,
  100: #cce0c4,
  200: #abcc9c,
  300: #89b774,
  400: #6fa757,
  500: #569839,
  600: #4f9033,
  700: #45852c,
  800: #3c7b24,
  900: #2b6a17,
  A100: #b7ffa3,
  A200: #8fff70,
  A400: #67ff3d,
  A700: #53ff24,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$my-blue: (
  50: #e6e6ea,
  100: #c0c1cb,
  200: #9698a8,
  300: #6b6f85,
  400: #4c506b,
  500: #2c3151,
  600: #272c4a,
  700: #212540,
  800: #1b1f37,
  900: #101327,
  A100: #6878ff,
  A200: #354bff,
  A400: #021eff,
  A700: #001ae7,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);
