<h1> CICIC Assignment </h1>

<h2> Backend: NodeJS Express 4 </h2>
<p> Institutions are managed in <code>src/controllers/institutions.ts </code></p>
<p> Data is stored in a <code>data.json</code> file. This is updated server side when adding/removing institutions. </p>
<p> Available REST requests are GET, POST, PUT and DELETE </p>

<h2> Frontend: Angular 12 </h2>
<p> Using Angular Material for UX components. </p>
<p> Search is a lazy loaded module. </p>
<p> There is toast/snackbar for notications. </p>

